<nav class="navbar">
  <div class="container-fluid">
    <div class="navbar-header">
      <%= link_to "Upload Image", root_path, class:"navbar-brand" %>
    </div>
    <ul class="nav navbar-nav">
      <li><%= link_to "Home", root_path %></li>
      <li><%= link_to "Posts", posts_path %></li>
    </ul>
    <% if user_signed_in? %>
        <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Log out", destroy_user_session_path, method: :delete %></li>
        </ul>
    <% else %>
    <ul class="nav navbar-nav navbar-right">
      <li><%= link_to "Log in", new_user_session_path %></li>
      <li><%= link_to "Sign up", new_user_registration_path %></li>
    </ul>
    <% end %>
  </div>
</nav>
