<%= form_for @post do |f| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>
      <ul>
        <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :content %>
    <%= f.text_area :content, class: "form-control" %>
  </div>

  <div class="form-group">
    <div class="fix-bot-pic upload-pic pic-profile">
      <%= f.fields_for :image_attributes do |image_f| %>
        <%= image_f.hidden_field :image_cache %>
        <%= image_f.file_field :image_url, class: "input-file previewIMG" %>
        <%= image_f.hidden_field :imageable_id, value: @post.id %>
        <%= image_f.hidden_field :imageable_type, value: "image" %>
      <% end %>
      <label tabindex="0" class="input-file-trigger">
        <%= t ".avatar" %> <i class="fa fa-camera"></i>
      </label>
    </div>
    <%= image_tag get_image(@post), class: "image_cm preview-img" %>
  </div>

  <div class="actions">
    <%= f.submit "Create", class: "btn btn-primary" %>
  </div>
<% end %>
